@media only screen and (max-width: 1281px) and (orientation: portrait) {
  .nav1 {
    width: 85%;
    margin-left: 10%;
  }
  .hero {
    height: 60vh;
  }
  .about {
    height: auto;
  }
  .icons {
    width: 7vw;
    left: 20vw;
  }
  .usecase {
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .images {
    height: 100vh;
    width: 42vw;
    position: relative;
    bottom: 5vh;

    display: flex;
    align-items: center;
  }

  .points {
    height: inherit;
    width: 58vw;
  }
  .images img:nth-child(1) {
    height: 18rem;
    width: 18rem;
    position: relative;
    left: 2rem;
    bottom: 17vh;
  }

  .images img:nth-child(2) {
    height: 31rem;
    width: 18rem;
    z-index: 1;
    position: relative;
    right: 17vw;
    bottom: 17vh;
  }

  .points h3 {
    font-weight: bold;
    margin-top: 10rem;
    line-height: 2.5rem;
  }

  .points p {
    width: 34rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .conclusion {
    height: 35vh;
  }
  .conclusion-div {
    margin-left: 1rem;
    width: 60rem;
  }
  .contact {
    width: 40vw;
  }
}

@media only screen and (max-width: 1377px) and (orientation: landscape) {
  .nav1 {
    width: 85%;
    margin-left: 10%;
  }
  .hero {
    height: 70vh;
  }
  .about {
    height: auto;
  }
  .icons {
    width: 7vw;
    left: 20vw;
  }
  .usecase {
    width: 100%;
    height: 70vh;
    display: flex;
  }

  .images {
    height: 100vh;
    width: 42vw;

    display: flex;
    align-items: center;
  }

  .points {
    height: 100vh;
    width: 58vw;
  }

  .images img:nth-child(1) {
    height: 18rem;
    width: 18rem;
    position: relative;
    left: 5rem;
    bottom: 17vh;
  }

  .images img:nth-child(2) {
    height: 31rem;
    width: 18rem;
    z-index: 1;
    position: relative;
    right: 10vw;
    bottom: 17vh;
  }

  .points h3 {
    font-weight: bold;
    margin-top: 10rem;
    line-height: 2.5rem;
  }

  .points p {
    width: 34rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .conclusion {
    height: 45vh;
  }
  .conclusion-div {
    margin-left: 15%;
    width: 60rem;
  }
  .contact {
    width: 40vw;
  }
}

@media only screen and (max-width: 1026px) and (orientation: landscape) {
  .nav1 {
    width: 85%;
    margin-left: 10%;
  }
  .hero {
    height: 70vh;
  }

  .icons {
    width: 7vw;
    left: 20vw;
  }
  .usecase {
    width: 100%;
    height: 70vh;
    display: flex;
  }

  .images {
    height: 100vh;
    width: 42vw;

    display: flex;
    align-items: center;
  }

  .points {
    height: 100vh;
    width: 58vw;
    position: relative;
    bottom: 6vh;
  }

  .images img:nth-child(1) {
    height: 16rem;
    width: 16rem;
    position: relative;
    left: 2rem;
    bottom: 15vh;
  }

  .images img:nth-child(2) {
    height: 29rem;
    width: 17rem;
    z-index: 1;
    position: relative;
    right: 12vw;
    bottom: 15vh;
  }

  .points h3 {
    font-weight: bold;
    margin-top: 10rem;
    line-height: 2.5rem;
  }

  .points p {
    width: 34rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .conclusion {
    height: 55vh;
  }
  .conclusion-div {
    margin-left: 5%;
    width: 60rem;
  }
  .contact {
    width: 40vw;
  }
}
@media only screen and (max-width: 852px) and (orientation: portrait) {
  .hero {
    width: 200vw;
    display: flex;
    height: 80vh;
  }

  .hero-content {
    width: 100vw;
    height: 80vh;
  }
  .nav-content {
    width: 60vw;
    height: 70vh;
    position: relative;
    top: 10vh;
    transition: 0.5s;
  }

  .nav-img {
    right: 40vw;
    z-index: 1;
    top: -60vh;
    width: 16rem;
    height: 15rem;
  }

  .icons {
    height: 3vh;
    width: 10vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    position: relative;
    left: -16.5vw;
    top: -60vh;
  }
  .burger div {
    display: block;
    background-color: white;
  }
  .nav-active {
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .nav1 {
    width: 65%;
    height: 60vh;
    margin-left: 25%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burger {
    left: 87vw;
    bottom: 4vh;
  }
  .about {
    background-color: rgb(234, 240, 240);
    height: auto;

    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
  }

  .about-content {
    width: 55vw;
    height: inherit;
  }

  .content-text {
    height: auto;
    width: 85vw;
    position: relative;

    left: 2vw;
    top: 2vh;
  }
  .content-text button {
    position: relative;
    top: 1vh;
    font-weight: bold;
    font-size: 15px;
    width: 9rem;
    height: 3rem;
    background-color: black;
  }

  .cards {
    width: 90vw;
    margin-left: 2vw;
  }
  .jj {
    position: relative;
    right: 10vw;
  }

  .card {
    width: 11rem;
  }

  .card p {
    width: 8rem;
  }
  .card i {
    margin-top: 2rem;
  }
  .images {
    display: none;
  }
  .usecase {
    height: auto;
  }
  .points {
    position: relative;
    left: 13vw;
    height: inherit;

    padding-top: 1vh;
  }
  .points h3 {
    margin-top: 1rem;
  }

  .conclusion {
    position: relative;
    padding-top: 2vh;
    height: auto;
    padding-bottom: 3vh;
  }

  .conclusion-div {
    position: relative;
    top: 1vh;
    width: 95vw;
    margin-left: 2vw;
  }

  .card2 {
    display: flex;
    margin-top: 1rem;
  }

  .card2 h5 {
    font-weight: bold;
    position: relative;
    left: 1rem;
  }

  .card2 span {
    font-size: 15px;
    display: block;
    font-weight: normal;
    width: 40vw;
    margin-top: 1rem;
  }

  .start-now {
    width: 100%;
    height: 15rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .btn-danger {
    height: 3rem;
    width: 12rem;
    position: relative;
    top: 2vh;
  }
  .contact {
    width: 45vw;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .hero {
    width: 200vw;
    display: flex;
    height: 100vh;
  }

  .hero-content {
    width: 100vw;
    height: 130vh;
  }
  .nav-content {
    width: 60vw;
    height: 70vh;
    position: relative;
    top: 10vh;
    transition: 0.5s;
  }
  .nav-img img {
    width: 16rem;
    height: 15rem;
  }
  .nav-img {
    width: 16rem;
    height: 15rem;
    margin-top: 67vh;
    position: relative;
    right: 84vw;
    z-index: 1;
  }

  .icons {
    height: 3vh;
    width: 20vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    position: relative;
    left: -34.5vw;
    top: -58vh;
  }

  .logo {
    margin: 20px;
    letter-spacing: 1px;
    height: 3rem;
    width: 3rem;
    background-color: none;
    border: 1px solid white;
  }
  .burger {
    left: 80vw;
    bottom: 5vh;
  }

  .logo h3 {
    position: relative;
    left: 2vw;
    top: 15px;
  }

  .content {
    height: 40vh;
    width: 80vw;
    margin-left: 2vw;
    margin-top: 10vh;
    color: white;
  }

  .content h2 {
    font-weight: bold;
    line-height: 3rem;
    font-size: 2rem;
  }

  .content p {
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 1vh;
    width: 80vw;
  }
  .burger div {
    display: block;
    background-color: white;
  }
  .nav-active {
    transform: translateX(-100%);
    transition: 0.5s;
  }

  .nav1 {
    width: 65%;
    height: 60vh;
    margin-left: 25%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .about {
    background-color: rgb(234, 240, 240);

    margin-top: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-bottom: 5vh;
  }

  .about-content {
    height: auto;
    width: 55vw;
  }

  .content-text {
    height: 60vh;
    height: inherit;
    width: 85vw;
    position: relative;
    left: 2vw;
    top: 2vh;
  }
  .content-text button {
    position: relative;
    top: 1vh;
    font-weight: bold;
    font-size: 15px;
    width: 9rem;
    height: 3rem;
    background-color: black;
  }

  .cards {
    margin-top: 5vh;
    width: 27rem;
  }

  .card {
    width: 12rem;
    padding-left: 1rem;
    margin-left: 20vw;
  }

  .card p {
    width: 8rem;
  }
  .card i {
    margin-top: 2rem;
  }
  .card h4 {
    margin-top: 2rem;
    font-weight: bold;
  }
  .card-red {
    background-color: red;
    color: white;
  }

  .usecase {
    width: 100vw;
    height: auto;
    display: flex;
  }

  .images {
    display: none;
  }

  .points {
    width: 80vw;
    height: inherit;
    position: relative;
    padding-left: 0vw;
    left: 3vw;
    padding-top: 1vh;
  }

  .points h3 {
    font-weight: bold;
    margin-top: 0vh;
    line-height: 2.5rem;
  }

  .points p {
    width: 85vw;
    margin-top: 1rem;
    font-weight: bold;
  }

  ul {
    margin-top: 2rem;
  }
  li {
    list-style-type: none;
    margin-top: 0.7rem;
    font-size: 15px;
  }
  li:before {
    content: "✓";
    color: red;
    font-weight: bold;
  }
  .conclusion {
    width: 100vw;
    position: relative;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 4vh;
  }

  .conclusion-div {
    position: relative;
    top: 1vh;
    width: 30rem;
    margin-left: 2vw;
    height: inherit;
  }

  .card2 {
    display: flex;
    margin-top: 1rem;
  }

  .card2 h5 {
    font-weight: bold;
    position: relative;
    left: 1rem;
  }

  .card2 span {
    font-size: 15px;
    display: block;
    font-weight: normal;
    width: 80vw;
    margin-top: 1rem;
  }

  .start-now {
    width: 100%;

    display: flex;
    flex-direction: column;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }

  .start-now h3 {
    font-weight: bold;
    position: relative;
    left: -2vw;
    width: 85vw;
  }

  .btn-danger {
    height: 3rem;
    width: 12rem;
    position: relative;
    top: 2vh;
  }

  .footer {
    background-color: #171716;
    height: 50vh;
  }

  .foot1 {
    height: 40vh;
    display: flex;
    flex-direction: column;
  }
  .left-section {
    width: 90vw;
    position: relative;
    bottom: 1vh;
    margin-top: 0vh;
  }

  .right-section {
    height: 20vh;
    width: 50vw;
  }

  .l-2 {
    letter-spacing: 1px;
    height: 3rem;
    width: 3rem;
    background-color: none;
    border: 1px solid white;
    position: relative;
    right: 3.5rem;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 10rem;

    color: #fff;
  }

  .contact {
    height: 20vh;
    width: 90vw;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .contact h5 {
    font-weight: bold;
  }

  .contact a {
    display: block;
    color: #fff;
  }

  .foot2 {
    width: 100%;
    height: 10vh;
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }

  .foot2 p {
    position: relative;
    left: 1vw;
    width: 45vw;
    font-size: 0.8rem;
  }
  .jj {
    right: 0vh;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) and (max-aspect-ratio: 1/2) {
  .about {
    height: auto;
  }
  .conclusion {
    height: 125vh;
  }
  .usecase {
    height: auto;
  }
  .jj {
    right: 0vh;
  }
}

@media only screen and (max-width: 340px) and (orientation: portrait) {
  .about {
    margin-top: 60vh;
    padding-bottom: 5vh;
    height: auto;
  }
  .about-content {
    height: auto;
  }
  .nav-img {
    width: 16rem;
    height: 15rem;
    margin-top: 80vh;
    position: relative;
  }

  .card {
    margin-left: 12vw;
  }

  .icons {
    position: relative;
    top: -60vh;
  }
  .hero-content {
    height: 160vh;
  }
  .cards {
    margin-top: 20vh;
  }

  .card2 h5 {
    width: 80vw;
  }
  .card2 h5 {
    left: 0rem;
  }
  .card2 i {
    position: relative;
    right: 2vw;
  }

  .btn-danger {
    height: 3rem;
    width: 12rem;
    position: relative;
    top: 0vh;
  }

  .footer {
    background-color: #171716;
    height: 55vh;
    position: relative;
  }
  .conclusion {
    height: 200vh;
  }

  .company a {
    position: relative;
    left: 3vw;
  }
  .contact a {
    font-size: 0.8rem;
  }
  .foot2 p {
    position: relative;
    left: 1vw;
    width: 45vw;
    font-size: 0.8rem;
  }
  .jj {
    right: 0vh;
  }
  .burger {
    left: 75vw;
  }
}

@media only screen and (min-width: 370px) and (max-width: 573px) and (orientation: portrait) {
  .icons {
    left: -50vw;
  }
}
